*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif;

}

/*
SESSION MENU
*/


.menu {
     width: 100%;
     margin: 0 auto;
}

header {
     overflow: hidden;
     background: #427BFF;
     margin:0 auto; 
     width: 85%;         
}

nav ul li {
     list-style: none;
     float: left;
     margin-left: 25px;     
     padding: 20px 0;     
}

nav ul li a {
     text-decoration: none;
     color:rgb(255, 249, 249);
     font-size: 12;
}

/*
formulario.php
seccion formulario
*/
main{
     width: 100%;
     margin: 0 auto;
}
.form-registro{
     margin:30px auto; 
     width: 85%;      
}

.form-label {
     display: inline-block;
     width: 20%;
     margin: 3px;
     padding: 5px;
     height: 25px;
}
.form-registro-input{
     width: 75%;
     height: 25px;
     margin: 3px;
     padding: 5px;
}



.form-genero{
     width: 100%;
     display: block;
     margin: 0;
     padding: 0;
     
}

.button{
     background: #427BFF;
     color: rgb(255, 249, 249);
     margin: 30px 0;
     padding: 10px 15px;
     text-align:center;
     border-radius: 4px;
     border: none;
}

.form-label-genero{
     margin: 0;
     padding:0;
     display: inline-block;

}


